<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <!-- <link rel="stylesheet" href="static/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand bg-primary p-3">
            <div class="container-fluid">
                <h1 class="text-white ">ToDo App: Главное меню</h1>
            </div>
        </nav>
    </header>
  </body>
  <div class="button_main_menu">
    <button type="button" name="task_list" class="btn_main_menu">Список задач</button>
    <button type="button" name="create_task" class="btn_main_menu">Создать задачу</button>
    <button type="button" name="create_category" class="btn_main_menu">Создать категорию</button>
  </div>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
      // Обработчик для кнопки "Список задач"
      document.querySelector('button[name="task_list"]').addEventListener('click', function() {
          window.location.href = '/tasks';
      });
  });

  document.addEventListener('DOMContentLoaded', function() {
      // Обработчик для кнопки "Список задач"
      document.querySelector('button[name="create_task"]').addEventListener('click', function() {
          window.location.href = '/tasks/create_task';
      });
  });

  document.addEventListener('DOMContentLoaded', function() {
      // Обработчик для кнопки "Список задач"
      document.querySelector('button[name="create_category"]').addEventListener('click', function() {
          window.location.href = '/categories/create_category';
      });
  });
  </script>

</html>

